.filter__box {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.filter__box--input {
  width: 50%;
  height: 2rem;
  margin: auto 1rem auto auto;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1.1rem;
  color: white;
  background: transparent;
  transition: all 0.2s;
}

.filter__box--input:focus {
  font-weight: 100;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
  width: 90%;
}

.filter__box--input:required,
.filter__box--input:invalid {
  box-shadow: none;
}
